@import url("https://fonts.googleapis.com/css2?family=Allison&family=Fredoka+One&family=Lato&family=Monoton&family=Press+Start+2P&family=Rampart+One&family=Staatliches&display=swap");
* {
  -webkit-transition: 450ms ease-in-out;
  transition: 450ms ease-in-out;
}

.loading {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0aff8d;
  font-size: 30px;
}

.loading h1 {
  font-family: 'Staatliches';
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-animation: jump 1s cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: jump 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@-webkit-keyframes jump {
  from {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes jump {
  from {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#blog_dark {
  width: 100%;
  background-color: #292d2e;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#blog_dark .blog_card {
  overflow: hidden;
  margin: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  width: 350px;
  height: 220px;
}

#blog_dark .blog_card .imageCont {
  -o-object-fit: fill;
     object-fit: fill;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}

#blog_dark .blog_card:hover {
  -webkit-transition: all 450ms ease-in-out 0s;
  transition: all 450ms ease-in-out 0s;
  -webkit-box-shadow: 0 2px 35px rgba(0, 0, 0, 0.85);
          box-shadow: 0 2px 35px rgba(0, 0, 0, 0.85);
}

#blog_dark .blog_card:hover .blog_content {
  background: rgba(255, 255, 255, 0.9);
}

#blog_dark .blog_card:hover .blog_content .blog_title {
  color: #1d1b1b;
}

#blog_dark .blog_card .blog_content {
  position: relative;
  top: 50%;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.3);
  padding: 10px 12px;
  overflow: hidden;
  -webkit-transition: all 450ms ease-in-out 0s;
  transition: all 450ms ease-in-out 0s;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.6);
}

#blog_dark .blog_card .blog_content .blog_title {
  height: 60px;
  text-align: center;
  font-family: "Fredoka One", cursive;
  margin-bottom: 10px;
  -webkit-transition: all 450ms ease-out 0s;
  transition: all 450ms ease-out 0s;
  color: #403b3b;
}

#blog {
  width: 100%;
  background-color: #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-top: 10vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#blog .blog_card {
  overflow: hidden;
  margin: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  width: 350px;
  height: 220px;
}

#blog .blog_card .imageCont {
  -o-object-fit: fill;
     object-fit: fill;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}

#blog .blog_card:hover {
  -webkit-transition: all 450ms ease-in-out 0s;
  transition: all 450ms ease-in-out 0s;
  -webkit-box-shadow: 0 2px 35px rgba(0, 0, 0, 0.85);
          box-shadow: 0 2px 35px rgba(0, 0, 0, 0.85);
}

#blog .blog_card:hover .blog_content {
  background: rgba(255, 255, 255, 0.9);
}

#blog .blog_card:hover .blog_content .blog_title {
  color: #1d1b1b;
}

#blog .blog_card .blog_content {
  position: relative;
  top: 50%;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.3);
  padding: 10px 12px;
  overflow: hidden;
  -webkit-transition: all 450ms ease-in-out 0s;
  transition: all 450ms ease-in-out 0s;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}

#blog .blog_card .blog_content .blog_title {
  height: 60px;
  text-align: center;
  font-family: "Fredoka One", cursive;
  margin-bottom: 10px;
  -webkit-transition: all 450ms ease-out 0s;
  transition: all 450ms ease-out 0s;
  color: #403b3b;
}
/*# sourceMappingURL=blog.css.map */