@import url("https://fonts.googleapis.com/css2?family=Allison&family=Fredoka+One&family=Lato&family=Monoton&family=Press+Start+2P&family=Rampart+One&family=Staatliches&display=swap");
#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

#about #aboutMe {
  width: 60%;
  margin: auto;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #about #aboutMe {
    width: 90%;
  }
}

#about #aboutMe .heading {
  text-shadow: 2px 2px #098f5b;
  font-family: "Staatliches", cursive;
}

#about #aboutMe .info {
  letter-spacing: 2px;
  word-spacing: 4px;
  margin-top: 1.3rem;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  padding: 10px;
}

#about #aboutMe .info .link-other {
  color: #087767;
  font-weight: 600;
}

#about #fit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  font-family: "Monoton", cursive;
}

#about #fit #about {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #0a7f6c;
}

#about #fit #about:hover {
  color: #216e62;
}

#about_dark {
  font-family: "Allision", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

#about_dark #aboutMe {
  width: 60%;
  margin: auto;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #about_dark #aboutMe {
    width: 90%;
  }
}

#about_dark #aboutMe .heading {
  text-shadow: 2px 2px #098f5b;
  font-family: "Staatliches", cursive;
  color: #e6e6e6;
}

#about_dark #aboutMe .info {
  color: #cccccc;
  letter-spacing: 2px;
  word-spacing: 4px;
  margin-top: 1.3rem;
  font-size: 1.2em;
  font-weight: 500;
  padding: 10px;
}

#about_dark #aboutMe .info .link-other {
  color: #1ce3c2;
  font-weight: 600;
}

#about_dark #fit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.4rem;
  font-family: "Monoton", cursive;
}

#about_dark #fit #about {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #20a791;
}

#about_dark #fit #about:hover {
  color: #13c9aa;
}
/*# sourceMappingURL=about.css.map */