#about {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  #aboutMe {
    width: 60%;
    margin: auto;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @media only screen and (max-width: 1024px) {
      width: 90%;
    }
    .info {
      $borderWidth: 0.1rem;
      letter-spacing: 2px;
      word-spacing: 4px;
      margin-top: 1.3rem;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2em;
      font-weight: 500;
      border-left: $borderWidth solid #000;
      border-right: $borderWidth solid #000;
      padding: 10px;
      .link-other {
        font-weight: 600;
      }
      #fit {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        #about {
          width: fit-content;
          color: hsl(170, 78%, 30%);
          &:hover {
            color: hsl(170, 78%, 20%);
          }
        }
      }
    }
  }
}
