#about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  #aboutMe {
    width: 60%;
    margin: auto;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @media only screen and (max-width: 1024px) {
      width: 90%;
    }
    .info {
      $borderWidth: 0.1rem;
      letter-spacing: 2px;
      word-spacing: 4px;
      margin-top: 1.3rem;
      font-family: sans-serif, Arial, Helvetica, sans-serif;
      font-size: 1.2em;
      font-weight: 500;
      padding: 10px;
      .link-other {
        font-weight: 600;
      }
    }
  }
  #fit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    #about {
      width: fit-content;
      color: hsl(170, 78%, 30%);
      &:hover {
        color: hsl(170, 78%, 20%);
      }
    }
  }
}

#about_dark {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  #aboutMe {
    width: 60%;
    margin: auto;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @media only screen and (max-width: 1024px) {
      width: 90%;
    }
    .heading {
      color: hsl(0, 0%, 90%);
    }

    .info {
      $borderWidth: 0.1rem;
      color: hsl(0, 0%, 80%);
      letter-spacing: 2px;
      word-spacing: 4px;
      margin-top: 1.3rem;
      font-family: sans-serif, Arial, Helvetica, sans-serif;
      font-size: 1.2em;
      font-weight: 500;
      padding: 10px;
      .link-other {
        color: hsl(170, 78%, 50%);
        font-weight: 600;
      }
    }
  }
  #fit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    #about {
      width: fit-content;
      color: hsl(170, 78%, 30%);
      &:hover {
        color: hsl(170, 78%, 40%);
      }
    }
  }
}
