@import url("https://fonts.googleapis.com/css2?family=Allison&family=Fredoka+One&family=Lato&family=Monoton&family=Press+Start+2P&family=Rampart+One&family=Staatliches&display=swap");

#about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  #aboutMe {
    width: 60%;
    margin: auto;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @media only screen and (max-width: 1024px) {
      width: 90%;
    }

    .heading {
      text-shadow: 2px 2px #098f5b;
      font-family: "Staatliches", cursive;
    }

    .info {
      $borderWidth: 0.1rem;
      letter-spacing: 2px;
      word-spacing: 4px;
      margin-top: 1.3rem;
      font-family: sans-serif, Arial, Helvetica, sans-serif;
      font-size: 1.2em;
      font-weight: 500;
      padding: 10px;
      .link-other {
        color: hsl(171, 87%, 25%);
        font-weight: 600;
      }
    }
  }
  #fit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-family: "Monoton", cursive;
    #about {
      width: fit-content;
      color: hsl(170, 85%, 27%);
      &:hover {
        color: hsl(171, 54%, 28%);
      }
    }
  }
}

#about_dark {
  font-family: "Allision", cursive;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  #aboutMe {
    width: 60%;
    margin: auto;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @media only screen and (max-width: 1024px) {
      width: 90%;
    }
    .heading {
      text-shadow: 2px 2px #098f5b;
      font-family: "Staatliches", cursive;
      color: hsl(0, 0%, 90%);
    }

    .info {
      $borderWidth: 0.1rem;
      color: hsl(0, 0%, 80%);
      letter-spacing: 2px;
      word-spacing: 4px;
      margin-top: 1.3rem;
      font-size: 1.2em;
      font-weight: 500;
      padding: 10px;
      .link-other {
        color: hsl(170, 78%, 50%);
        font-weight: 600;
      }
    }
  }
  #fit {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-family: "Monoton", cursive;
    #about {
      width: fit-content;
      color: hsl(170, 68%, 39%);
      &:hover {
        color: hsl(170, 83%, 43%);
      }
    }
  }
}
