@import url("https://fonts.googleapis.com/css2?family=Allison&family=Fredoka+One&family=Lato&family=Monoton&family=Press+Start+2P&family=Rampart+One&family=Staatliches&display=swap");
#home {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

@media only screen and (max-width: 768px) {
  #home {
    width: 100%;
    text-align: center;
  }
}

#home #right_sidebar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media only screen and (max-width: 1024px) {
  #home #right_sidebar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#home #right_sidebar #img_cont {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  padding: 2px;
  border: 3px solid #666666;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  -webkit-animation: up var(--time) cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: up var(--time) cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media only screen and (max-width: 640px) {
  #home #right_sidebar #img_cont {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 640px) {
  #home #right_sidebar #img_cont {
    width: 250px;
    height: 250px;
  }
}

#home #right_sidebar #img_cont img {
  border-radius: 50%;
}

#home #right_sidebar #anotherSec {
  margin-right: 10vw;
  width: 40%;
}

@media only screen and (max-width: 1024px) {
  #home #right_sidebar #anotherSec {
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 425px) {
  #home #right_sidebar #anotherSec {
    margin: auto;
    padding: 10px;
  }
}

#home .what {
  font-size: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px solid #4d4d4d;
  -webkit-animation: left var(--time) cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: left var(--time) cubic-bezier(0.215, 0.61, 0.355, 1);
  font-family: "Fredoka One", cursive;
}

@media only screen and (max-width: 1024px) {
  #home .what {
    margin: auto;
  }
}

@media only screen and (max-width: 768px) {
  #home .what {
    width: 90%;
    margin: auto;
    text-align: center;
  }
}

#home #what_dark {
  color: white;
}

#home #intro_dark {
  color: #b3b3b3;
}

#home #intro_dark #fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#home #intro_dark #fit #about {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #1a7f6e;
}

#home #intro_dark #fit #about:hover {
  color: #13ae95;
}

#home .intro {
  font-family: "Lato", sans-serif;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 600;
  color: #666666;
  -webkit-animation: right var(--time) cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: right var(--time) cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media only screen and (max-width: 768px) {
  #home .intro {
    width: 100%;
    text-align: left;
  }
}

#home .intro #fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#home .intro #fit #about {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #118874;
}

#home .intro #fit #about:hover {
  color: #0b5b4e;
}

#home #social_link_dark {
  background-color: #292d2e;
}

#home #social_link_dark .icon {
  color: #b3b3b3;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 30px;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

#home #social_link_dark .icon:hover {
  color: white;
}

#home .social_link {
  -webkit-animation: down var(--time) cubic-bezier(0.215, 0.61, 0.355, 1);
          animation: down var(--time) cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media only screen and (max-width: 1024px) {
  #home .social_link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
}

#home .social_link .icon {
  --hue: 120;
  --saturation: 1%;
  --lightness: 25%;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 30px;
  color: hsl(var(--hue), var(--saturation), var(--lightness));
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

#home .social_link .icon:hover {
  --lightness: 10%;
}

@-webkit-keyframes left {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes left {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes up {
  from {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes up {
  from {
    -webkit-transform: translateY(-300%);
            transform: translateY(-300%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes down {
  from {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes down {
  from {
    -webkit-transform: translateY(500%);
            transform: translateY(500%);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes right {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes right {
  from {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=home.css.map */