@import url("https://fonts.googleapis.com/css2?family=Allison&family=Fredoka+One&family=Lato&family=Monoton&family=Press+Start+2P&family=Rampart+One&family=Staatliches&display=swap");

#home {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms ease-in-out;
  margin-top: 10vh;
  margin-bottom: 10vh;
  @media only screen and (max-width: 768px) {
    width: 100%;
    text-align: center;
  }

  #right_sidebar {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    @media only screen and (max-width: 1024px) {
      flex-direction: column;
    }
    #img_cont {
      height: 400px;
      width: 400px;
      border-radius: 50%;
      padding: 2px;
      border: 3px solid hsl(0, 0%, 40%);
      transition: 500ms ease-in-out;
      animation: up var(--time) cubic-bezier(0.215, 0.61, 0.355, 1);
      @media only screen and (max-width: 640px) {
        width: 250px;
        height: 250px;
      }
      @media only screen and (orientation: landscape) and (max-width: 640px) {
        width: 250px;
        height: 250px;
      }

      img {
        border-radius: 50%;
      }
    }

    #anotherSec {
      margin-right: 10vw;
      width: 40%;
      @media only screen and (max-width: 1024px) {
        width: 90%;
        margin: auto;
      }
      @media only screen and (max-width: 425px) {
        margin: auto;
        padding: 10px;
      }
    }
  }

  .what {
    font-size: 50px;
    width: fit-content;
    border-bottom: 2px solid hsl(0, 0%, 30%);
    animation: left var(--time) cubic-bezier(0.215, 0.61, 0.355, 1);
    font-family: "Fredoka One", cursive;
    @media only screen and (max-width: 1024px) {
      margin: auto;
    }
    @media only screen and (max-width: 768px) {
      width: 90%;
      margin: auto;
      text-align: center;
    }
  }

  #what_dark {
    color: hsl(0, 0%, 100%);
  }

  #intro_dark {
    color: hsl(0, 0%, 70%);
    #fit {
      width: fit-content;
      #about {
        width: fit-content;
        color: hsl(170, 66%, 30%);
        &:hover {
          color: hsl(170, 80%, 38%);
        }
      }
    }
  }

  .intro {
    font-family: "Lato", sans-serif;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: 600;
    color: hsl(0, 0%, 40%);
    animation: right var(--time) cubic-bezier(0.215, 0.61, 0.355, 1);
    @media only screen and (max-width: 768px) {
      width: 100%;
      text-align: left;
    }
    #fit {
      width: fit-content;
      #about {
        width: fit-content;
        color: hsl(170, 78%, 30%);
        &:hover {
          color: hsl(170, 78%, 20%);
        }
      }
    }
  }

  #social_link_dark {
    background-color: #292d2e;
    .icon {
      color: hsl(0, 0%, 70%);
      font-size: 30px;
      margin-right: 10px;
      margin-left: 10px;
      margin-top: 30px;
      transition: 100ms ease-in-out;
      &:hover {
        color: hsl(0, 0%, 100%);
      }
    }
  }

  .social_link {
    animation: down var(--time) cubic-bezier(0.215, 0.61, 0.355, 1);
    @media only screen and (max-width: 1024px) {
      width: fit-content;
      margin: auto;
    }
    .icon {
      --hue: 120;
      --saturation: 1%;
      --lightness: 25%;

      font-size: 30px;
      margin-right: 10px;
      margin-left: 10px;
      margin-top: 30px;
      color: hsl(var(--hue), var(--saturation), var(--lightness));
      transition: 100ms ease-in-out;
      &:hover {
        --lightness: 10%;
      }
    }
  }
}

@keyframes left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes up {
  from {
    transform: translateY(-300%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes down {
  from {
    transform: translateY(500%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes right {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
