nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 8vh;
  font-family: Arial;
  letter-spacing: 2px;
}

.name {
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
}

.name_dark {
  font-family: 'Staatliches';
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  color: hsl(0, 0%, 70%);
  &:hover {
    color: hsl(0, 0%, 100%);
  }
}

#toggle_div {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transition: 300ms ease-in-out;
}

#toggle_div .fa {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: relative;
  right: 0;
  font-size: 20px;
  color: hsl(170, 78%, 40%);
  font-weight: 900;
  cursor: pointer;
}
a:hover {
  color: inherit;
}

.nav_links {
  color: hsl(0, 0%, 20%);
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
}

.nav_links_dark {
  display: flex !important;
  align-items: center;
  justify-content: space-evenly;
  .nav_link {
    color: hsl(0, 0%, 70%);
    &:hover {
      color: hsl(0, 0%, 100%);
    }
  }
}

.nav_link {
  color: hsl(0, 0%, 30%);
  text-decoration: none;
  position: relative;
  padding: 2px;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transition: transform 500ms ease-in;
  height: 2px;
  background: currentColor;
  color: hsl(0, 0%, 100%);
  transform: scaleX(0);
  transform-origin: center;
}
.nav_link:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

@media only screen and (max-width: 624px) {
  nav {
    flex-direction: column;
  }

  .nav_links {
    margin-top: 20px;
  }

  .nav_links_dark {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 500px) {
  nav {
    flex-direction: column;
  }

  .nav_links {
    margin-top: 20px;
  }

  .nav_links_dark {
    margin-top: 20px;
  }
}

#toggle_div .moon {
  color: hsl(0, 0%, 0%);
}
