@import url("https://fonts.googleapis.com/css2?family=Allison&family=Fredoka+One&family=Lato&family=Monoton&family=Press+Start+2P&family=Rampart+One&family=Staatliches&display=swap");
.skills_dark {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills_dark .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.skills_dark .skills .skill {
  width: 350px;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 2px;
  border-radius: 10px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.skills_dark .skills .skill:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.skills_dark .skills .skill .skill_image {
  border-radius: 10px;
  width: 100%;
  width: 250px;
  height: 150px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.skills_dark .skills .skill .about_skill {
  text-align: center;
  font-size: 18px;
}

.skills_dark .skills .skill .about_skill .skill_name {
  color: white;
  font-family: "Rampart One", cursive;
}

.skills_dark .skills .arrowCont {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills_dark .skills .arrowCont:hover {
  color: #8089db;
}

.skills {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.skills .skills .skill {
  width: 350px;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 2px;
  border-radius: 10px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.skills .skills .skill:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.skills .skills .skill .skill_image {
  border-radius: 10px;
  width: 100%;
  width: 250px;
  height: 150px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.skills .skills .skill .about_skill {
  text-align: center;
  font-size: 18px;
}

.skills .skills .skill .about_skill .skill_name {
  color: black;
  font-family: "Rampart One", cursive;
}

.skills .skills .arrowCont {
  font-size: 3rem;
  color: black;
  cursor: pointer;
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .skills .arrowCont:hover {
  color: #15208a;
}
/*# sourceMappingURL=skill.css.map */