#projects_dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #292d2e;
}

#projects_dark #skills {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  background-color: #292d2e;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
  #projects_dark #skills {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
  }
}

#projects_dark #skills .card {
  width: 400px;
  height: 300px;
  padding: 10px;
  margin: 10px 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 625px) {
  #projects_dark #skills .card {
    width: 300px;
  }
}

#projects_dark #skills .card .title {
  text-align: center;
}

#projects_dark #skills .card .image {
  width: 90%;
  height: 70%;
  -webkit-box-shadow: 0 2px 4px 2px gray;
          box-shadow: 0 2px 4px 2px gray;
  border-radius: 10px;
}

@media only screen and (max-width: 625px) {
  #projects_dark #skills .card .image {
    width: 100%;
  }
}

#projects_dark #skills .card .tech {
  text-align: center;
  font-size: 16px;
  margin-top: 6px;
  font-weight: 600;
  width: 100%;
  border-bottom: 1px solid gray;
}

#projects_dark #skills .card .link {
  font-weight: 600;
  font-size: 20px;
  position: relative;
  padding: 2px 10px;
}

#projects_dark #skills .card .link:hover {
  color: #13966a;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects #skills {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
  #projects #skills {
    width: 100%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
  }
}

#projects #skills .card {
  width: 400px;
  height: 300px;
  padding: 10px;
  margin: 10px 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #0d684a;
  -webkit-box-shadow: 0 2px 4px 2px gray;
          box-shadow: 0 2px 4px 2px gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 625px) {
  #projects #skills .card {
    width: 300px;
  }
}

#projects #skills .card .title {
  text-align: center;
}

#projects #skills .card .image {
  width: 90%;
  height: 70%;
  -webkit-box-shadow: 0 2px 4px 2px gray;
          box-shadow: 0 2px 4px 2px gray;
  border-radius: 10px;
}

@media only screen and (max-width: 625px) {
  #projects #skills .card .image {
    width: 100%;
  }
}

#projects #skills .card .tech {
  text-align: center;
  font-size: 16px;
  margin-top: 6px;
  font-weight: 600;
  width: 100%;
  border-bottom: 1px solid gray;
}

#projects #skills .card .link {
  font-weight: 600;
  font-size: 20px;
  position: relative;
  padding: 2px 10px;
}

#projects #skills .card .link:hover {
  color: #13966a;
}
/*# sourceMappingURL=project.css.map */