#projects_dark {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: hsl(192, 6%, 17%);
  #skills {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    background-color: hsl(192, 6%, 17%);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media only screen and (max-width: 1024px) {
      width: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      margin-top: 2rem;
    }
    .card {
      width: 400px;
      height: 300px;
      padding: 10px;
      margin: 10px 20px;
      margin-bottom: 30px;
      border-radius: 10px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      @media only screen and (max-width: 625px) {
        width: 300px;
      }
      .title {
        text-align: center;
      }
      .image {
        width: 90%;
        height: 70%;
        box-shadow: 0 2px 4px 2px hsl(0, 0%, 50%);
        border-radius: 10px;
        @media only screen and (max-width: 625px) {
          width: 100%;
        }
      }
      .tech {
        text-align: center;
        font-size: 16px;
        margin-top: 6px;
        font-weight: 600;
        width: 100%;
        border-bottom: 1px solid hsl(0, 0%, 50%);
      }
      .link {
        font-weight: 600;
        font-size: 20px;
        position: relative;
        padding: 2px 10px;
        &:hover {
          color: hsl(160, 78%, 33%);
        }
      }
    }
  }
}

#projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  #skills {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media only screen and (max-width: 1024px) {
      width: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      margin-top: 2rem;
    }
    .card {
      width: 400px;
      height: 300px;
      padding: 10px;
      margin: 10px 20px;
      margin-bottom: 30px;
      border-radius: 10px;
      background-color: #fff;
      border: 2px solid hsl(160, 78%, 23%);
      box-shadow: 0 2px 4px 2px hsl(0, 0%, 50%);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      @media only screen and (max-width: 625px) {
        width: 300px;
      }
      .title {
        text-align: center;
      }
      .image {
        width: 90%;
        height: 70%;
        box-shadow: 0 2px 4px 2px hsl(0, 0%, 50%);
        border-radius: 10px;
        @media only screen and (max-width: 625px) {
          width: 100%;
        }
      }
      .tech {
        text-align: center;
        font-size: 16px;
        margin-top: 6px;
        font-weight: 600;
        width: 100%;
        border-bottom: 1px solid hsl(0, 0%, 50%);
      }
      .link {
        font-weight: 600;
        font-size: 20px;
        position: relative;
        padding: 2px 10px;
        &:hover {
          color: hsl(160, 78%, 33%);
        }
      }
    }
  }
}
